/* Footer */
footer {

}
footer .inner {
    padding: 50px 0;
    border-top: 1px solid #eee;
}
footer .site-links {
    display: flex;
}
footer .site-links li {
    font-size: .8em;
    margin-right: 10px;
    color: #767676;
}
footer .site-links li a {
    color: #4078c0;
}
footer .site-links li a:hover {
    text-decoration: underline;
}
footer .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;
}
footer .logo:hover svg{
    fill : #4078c0;
}