/* Pricing Card */
.section--pricing {
    background-image: linear-gradient(#f5f5f5, #fff);
}
.section--pricing .inner {
    padding: 80px 0;
}
.section--pricing .card {
    display: flex;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}
.section--pricing .card .cell {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--pricing .card .cell1 .btn{
    height: 50px;
    font: 1em;
}
.section--pricing .card .cell2 {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.5;
    /* flex-grow, cell2는 가변적이고 cell1은 고정으로 하기 */
    flex: 1;
    border-left: 1px solid #e5e5e5;
}